<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo title=false %}
   <title>Три сосны | Дом у моря в Архипо-Осиповке | Заречная 5А</title>
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% if page.support contains 'jquery' %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  {% endif %}

  {% if page.support contains 'gallery' %}
  <!-- A jQuery plugin that adds cross-browser mouse wheel support. (Optional) -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>

  <!-- Actual includes needed for the gallery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.19/js/lightgallery-all.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.19/css/lightgallery.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.0/isotope.pkgd.min.js"></script>
  <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/{{ "assets/css/gallery.css" }}" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/picturefill/3.0.2/picturefill.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.0/imagesloaded.pkgd.min.js"></script>
  {% endif %}

  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
        <p>Дом у моря в Архипо-Осиповке.<br>До пляжа 7 минут неспешным шагом</p> 
        {%- if page.shownavigation -%}
        <p><a href="/rooms">Наши номера</a></p>
        {%- endif -%}
        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}



        {% if site.github.is_project_page %}
        <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ site.github.repository_nwo }}</small></a></p>
        {% endif %}
        
     
  
      </header>
      <section>

      {{ content }}
 
      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
<!-- Start address box -->     
<!--
<div class="language-js highlighter-rouge">
  <div class="highlight">
<pre class="highlight">
-->

<h3 id="Наш-адрес">Наш адрес:</h3>
ул. Заречная, 5А<br>
с. Архипо-Осиповка<br>
353485 Россия<br>
 <br>
 моб.: (8-918) 316 72 78<br>
 WhatsApp: (8-918) 316 72 78<br>
 vk: <a href = "https://vk.com/trisosny_arhipka">https://vk.com/trisosny_arhipka</a><br>
 e-mail: <a href = "mailto:info@trisosny.com">info@trisosny.com</a><br>
<br>
<!--
</pre>
</div>
  </div>
-->
<!-- End address box -->        
        <p><small>&copy; 2022 {{ site.title }} &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
